<footer>  
    <div class="footer">
        
        <div class="footer_logo">
                    <img src="/img/KMAONLINE.png" alt="" class="footer_logo-src">
        </div>
        <div class="footer_content">
                <div class="footer_content-item">
                    <div class="footer_content-item_title">
                        Giới thiệu
                    </div>
                    <div class="footer_content-item_descript">
                        <p>KMA Online là nơi tổng hợp các bài giảng của học viện.</p>
                        <p>Các video luôn đảm bảo chất lượng hình ảnh và âm thanh.</p>
                        <p>Học viên có thể lựa chọn các bài giảng phù hợp tại đây.</p>
                        <p>© Website học tập trực tuyến</p>
                    </div>
                </div>

                <div class="footer_content-item">
                    <div class="footer_content-item_title">
                        Sản phẩm
                    </div>
                    <div class="footer_content-item_descript">
                        <a href="/">Web học Online</a>
                        <a href="https://www.youtube.com/channel/UCvSkmTXALKYjA2LJziDifdA/playlists" target="_blank">Kênh Youtube </a>
                        <a href="https://www.facebook.com/groups/actvn.edu.vn" target="_blank">Web khóa học miễn phí</a>
                    </div>
                </div>

                <div class="footer_content-item">
                    <div class="footer_content-item_title">
                        Liên hệ
                    </div>
                    <div class="footer_content-item_descript">
                        <a href="https://www.facebook.com/profile.php?id=100004406117069" target="_blank">Liên hệ qua Facebook</a>
                        <a href="https://zalo.me/0397677583" target="_blank">Liên hệ qua Zalo</a>
                    </div>
                </div>
        </div>
        
            
    </div>
    
</footer>
