<header class="header">
    <div class="grid wide">
        <div class="header_wrap">
            <ul class="header_list">
                <li class="header_item"><a class="header_item-link brand" href="/">KMA</a></li>
                <li class="header_item hide-on-mobile"><a class="header_item-link" href="/">TRANG CHỦ</a></li>
                <li class="header_item"><a class="header_item-link" href="/course">KHÓA HỌC</a>
                    <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm nhất</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm nhất</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 2</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/courseDetail/ki-4">Học kì 2 năm 2</a>
                                <ul class="header_subnav-list">
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/quan-tri-mang-may-tinh">Quản trị mạng máy tính</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/chuong-trinh-dich">Chương trình dịch</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/dien-tu-tuong-tu-va-so">Điện tử tương tự - số</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-4/tieng-anh-2">Tiếng anh 2</a></li>
                                </ul>
                            </li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/courseDetail/ki-5">Học kì 1 năm 3</a>
                                 <ul class="header_subnav-list">
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/he-quan-tri-co-so-du-lieu">Hệ quản trị CSDL</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/cau-truc-du-lieu-va-giai-thuat">Cấu trúc dữ liệu giải thuật</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/ky-thuat-vi-xu-ly">Kỹ thuật vi xử lý</a></li>
                                    <li class="header_subnav-item"><a class="header_subnav-item_link" href="/courseDetail/ki-5/co-so-ly-thuyet-truyen-tin">Cơ sở lý thuyết truyền tin</a></li>
                                </ul>
                            </li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm 3</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 4</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm 4</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 1 năm 5</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="">Học kì 2 năm 5</a></li>
                    </ul>
                </li>
                <li class="header_item hide-on-mobile">
                    <a href="" class="header_item-link"> LIÊN KẾT</a>
                    <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="https://www.facebook.com/groups/actvn.edu.vn" target="_blank">Group KMA</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="http://pcdcourses.somee.com/" target="_blank">Khóa học free</a></li>
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="https://www.youtube.com/channel/UCvSkmTXALKYjA2LJziDifdA/playlists" target="_blank">Kênh Youtube</a></li>
                    </ul>
                </li>
                <li onclick="showSearchMB()" class="header_item header_searchMB hide-on-pc">
                    <i class="fas fa-search header_searchMB-link"></i>
                </li>
                <li class="header_item hide-on-mobile">
                    <form method="POST" action="/course" class="header_item-form form-inline my-2 my-lg-0">
                        <input class="header_item-input form-control mr-sm-2" type="search" name="search" placeholder="Tìm kiếm tại đây" aria-label="Search" required>
                        <button class="header_item-button btn btn-outline-light my-2 my-sm-0" type="submit">Tìm kiếm</button>
                    </form>
                </li>
               {{#if user}}
               <li class="header_item hide-on-mobile hide-on-tablet"> 
                   <img class="header_item-img" src="/img/vietnam.png" alt=""><a href="" class="header_item-link" >{{user.name}}</a>
                         <ul class="header_navbar-list">
                            <li class="header_navbar-item"><a class="header_navbar-item_link" href="/logout">ĐĂNG XUẤT</a></li>
                         </ul>
               </li>
               {{else}}
               <li class="header_item hide-on-mobile">
                    <a href="/loginClient" class="header_item-link"> ĐĂNG NHẬP</a>
                </li>
                 <li class="header_item hide-on-mobile">
                    <a href="/register" class="header_item-link"> ĐĂNG KÝ</a>
                </li>
               {{/if}}
               

            </ul>
            <div class="searchMB hide-on-pc">
                <form method="POST" action="/course" class="form-inline my-lg-0">
                    <div class="searchMB_wrap grid wide">
                        <input class="form-control searchMB-input mr-sm-2" type="search" name="search" placeholder="Tìm kiếm tại đây" aria-label="Search" required>
                         <button class="header_item-button btn btn-danger my-2 " type="submit">Tìm kiếm</button>
                    </div>   
                </form>
            </div> 
        </div>
    </div>
</header>
<script>
    function showSearchMB(){
        searchMB= document.querySelector('.searchMB');
       searchMB.style.display= (searchMB.style.display == 'none') ? 'block' : 'none';
    }
</script>