<div class="grid wide">

    <div class="courseCreate">
        <div class="courseCreate_wrap">

            <h3>ĐĂNG KHÓA HỌC TỔNG QUÁT</h3>
            <form method="POST" action="/course/store">
                <div class="courseCreate_form">
                    <label for="name">Tên khóa học</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="VD: Hệ quản trị cơ sở dữ liệu">
                </div>
                <div class="courseCreate_form">
                    <label for="teacher">Tên giảng viên</label>
                    <input type="text" class="form-control" id="teacher" name="teacher" placeholder="VD: Thái Thị Thanh Vân">
                </div>
                <div class="courseCreate_form">
                    <label for="image">Liên kết hình ảnh</label>
                    <input type="text" class="form-control" id="image" name="image">
                </div>
                <div class="courseCreate_form">
                    <label for="term">Học kì theo năm</label>
                    <input type="text" class="form-control" id="term" name="term" placeholder="VD: Học kỳ 1 năm 3">
                </div>
                <div class="courseCreate_form">
                    <label for="_term">Học kì theo khóa</label>
                    <input type="text" class="form-control" id="_term" name="_term" placeholder="VD: ki-5">
                </div>
                <button type="submit" class="courseCreate_form-btn">Đăng Khóa Học</button>
            </form>
        </div>
    </div>
</div>